@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Student Profile</title>
        <link href="StyleSheet.css" rel="stylesheet" />
        <link href="detailedinformation.css" rel="stylesheet">
    </head>
     
    <body>
        @RenderPage("staticmenu.cshtml")
        <h1>Welcome to Student Profile!!</h1>
        <div id="intro">
        <p>With this site you can access basic information of a student and staff</p>
        <p>of a particular college </p>
        <p>Click on any of the options in the navigation bar to get started</p>
        <p>Hope you like it!</p></div>

    </body>
</html>
