
          <div id="top">         
    <div id="text">
        <a href="mainpage.cshtml"> Student profile</a>    
     
    </div>
    
    <div id ="topmenu">      
        <a href="ContentPage">Students</a>
        <a href="staff">Staff</a>
        <a href="about.cshtml">About us</a>
    </div>
    </div>
   